

h1 a{
  font-size: 80px;
  font-family: 'Dancing Script', cursive;
  text-decoration: none;
  color: rgb(106, 5, 5);
  text-shadow: 0 1px 0 #b6b6b6, 
               0 2px 0 #606060,
               0 3px 0 #5b5b5b,
               0 4px 0 #4d4d4d,
               0 5px 0 #000000,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle {
  background: none;
  border: none;
  span {
    height: 3px;
    display: block;
    width: 30px;
    margin: 5px;
    border-radius: 5px;
    background: rgb(106, 5, 5);
    margin-bottom: 3px;
  }
}


svg {
  height: 30px;
  width: 60px;
  background: none;
  border: none;
}

.create {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 50vh; 
  box-sizing: border-box;
  background: rgba(58,49,40,.65);
  border-radius: 12px;
  max-width: 400px;
  padding: 8px;
  width: 100%;
}
form.create {
  position: fixed;
  width: 450px;
  position: fixed;
  bottom: 40;
  width: 100%;
  position: absolute;
  bottom: 400px;
}

form.log_in {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 30vh; 
  box-sizing: border-box;
  background: rgba(58,49,40,.65);
  border-radius: 12px;
  max-width: 400px;
  padding: 8px;
  width: 100%;
}

.modal-body {
  display: flex;
  justify-content: center;
  backdrop-filter: blur(1px);
}
.icon {
  margin: 20px;
  
}
h1 {
  color: white;
  padding: 8px;
}
input {
  background-color: #fff;
  margin: 6px;
  padding: 10px;
  border: none;
  border-radius: 9px;
  display: block;
  height: 5vh;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%
}

.centered-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.indexs {
  width: 300px;
  background-color: rgba(58,49,40,.65);
  backdrop-filter: blur(1px);
}

.btn-primary {
  background: transparent;
  border: none;

}
.btn-primary:hover {
  background-color: transparent;
}
