@import './components/WineryIndex.scss';
@import './components/Nav.scss';
@import './components/Home.scss';
@import './components/Footer.scss';
@import './global/variables.scss';
// @import './global/base';
// @import './global/forms';
@import './components/WinerySingle.scss';
@import './components/ErrorPage.scss';

* {
  box-sizing: border-box;
  font-family: 'Pompiere', sans-serif;
}



body {
  
  background-color: #a8b56b;
  margin: 0;
  background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url('../images/bliss\ hill.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}