@import './components/WineryIndex.scss';
@import './components/Nav.scss';
@import './components/Home.scss';
@import './components/Footer.scss';
@import './components/WinerySingle.scss';

* {
  box-sizing: border-box
}



body {
  background-color: #a8b56b;
  margin: 0;
  background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url('../images/bliss\ hill.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}